/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: inherit;
}
/* settings, helpers */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	font-family: Helvetica, sans-serif, Arial;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.italic {
	font-style: italic;
}

/* wrapper */
.wrapper {
	padding: 1em;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	background-color: #222;
	color: #FFF;
}

.title {
	font-weight: bold;
	font-size: 2em;
}

.new-message {
	background-color: #070;
	color: #FFF;
	border: 2px solid #060;
	border-radius: 2px;
	cursor: pointer;
	padding: 0.5em;
}

.new-message:hover {
	background-color: #090;
	border: 2px solid #080;
}

.new-message:active {
	background-color: #080;
	border: 2px solid #070;
}

/* index */
.section {
	text-decoration: underline;
	font-size: 2em;
}

.message-wrapper {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 1em;
	padding: 1em;
}

.message-text {
	font-size: 1.5em;
}

.message-added {
	font-size: 0.7em;
}

/* form */
.form-input {
	margin-top: 1em;
}
